PORT=5000
MONGO_URI=mongodb://localhost:27017/smart-trip-planner
JWT_SECRET=your_jwt_secret_here
GEMINI_API_KEY=your_gemini_api_key_here

# Amadeus Flight API
AMADEUS_CLIENT_ID=your_amadeus_api_key_here
AMADEUS_CLIENT_SECRET=your_amadeus_api_secret_here

# RailwayAPI Train Search
RAILWAY_API_KEY=your_railway_api_key_here
